/* Full-page background image styling with upper part focus */
.full-page-image {
    background-image: url('images/friends.jpg'); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: top; /* Show more of the upper part of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: relative;
}

/* Overlay text box styling */
.overlay-text {
    position: absolute;
    font-size: 40px;
    background-color: #18C97F;
    left: 281px;
    bottom: 122px;
    padding-top: 23px;
    padding-right: 23px;
    padding-bottom: 23px;
    padding-left: 23px;
    border-radius: 98px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	display: none;
    
}
